.c-accordion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px 0;
}
.c-accordion__container__main-title{
    width: 80%;
    display: flex;
    margin-top: 50px;
}
.c-accordion__main-title{
    font-family: jetourFont600;
    font-size: 40px;
    text-align: left;
}
.c-accordion__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-accordion__title-group{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5E5E5;
    cursor: pointer;
    padding: 0 20px;
}
.c-accordion__title{
    font-size: 22px;
}
.c-accordion__arrow-icon{
    width: 16px;
    height: 16px;
    border-right: solid 2px #333333;
    border-bottom: solid 2px #333333;
    transform: rotate(-45deg);
}
.c-accordion__arrow-icon-selected{
    width: 16px;
    height: 16px;
    border-right: solid 2px #333333;
    border-bottom: solid 2px #333333;
    transform: rotate(45deg);
}
.c-accordion__details{
    width: 80%;
}
.c-accordion__detail{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px #333333;
    padding: 10px 0;
}
.c-accordion__detail-title{
    width: 50%;
    font-size: 18px;
    font-weight: bold;
}
.c-accordion__detail-text{
    font-size: 18px;
}
@media (max-width: 900px) {
    .c-accordion__main-title{
        font-size: 23px;
    }
    .c-accordion__detail{
        gap: 20px;
    }
    .c-accordion__detail-title{
        width: 40%;
        font-size: 14px;
        font-weight: bold;
    }
    .c-accordion__detail-text{
        width: 40%;
        font-size: 14px;
    }
}