.v-after-sales__section-banner{
    width: 100%;
    height: 600px;
    background-image: url(../../assets/banner-services.png);
    background-size: cover;
}
.v-after-sales__section-banner-mask{
    width: 100%;
    height: 100%;
    background: #333333 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: 0.58;
    top: 0px;

}
.v-after-sales__banner-image{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.v-after-sales__section-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
}
.v-after-sales__section-services__title{
    font-family: jetourFontBold;
    font-size: 50px;
    font-weight: 900;
}
.v-after-sales__section-services__subtitle{
    font-size: 40px;
    font-weight: bold;
}
.v-after-sales__section-services__items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px 0;
}
.v-after-sales__section-services__item{
    width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    box-shadow: 0px 3px 6px #00000029;
    /* padding: 0 10px; */
}
.v-after-sales__section-services__item__image{
    width: 100%;
}
.v-after-sales__section-services__item__title{
    width: 60%;
    font-size: 20px;
    color: #08150A;
    text-align: center;
    margin-top: 10px;
}
.v-after-sales__section-services__item__list{
    width: 200px;
    padding-left: 50px;
}
.v-after-sales__section-services__item__list-text{
    font-size: 0.7em;
    text-decoration: none;
    color: #08150A;
    opacity: 0.6;
}
.v-after-sales__section-services__item__icon-container{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
}
.v-after-sales__section-action{
    width: 100%;
    background-color: #EFEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 60px 0px;
}
.v-after-sales__section-action__title{
    font-family: jetourFontBold;
    font-size: 43px;
}
.v-after-sales__section-action__text-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.v-after-sales__section-action__text{
    width: 500px;
    font-size: 22px;
    text-align: center;
}
.v-after-sales__section-action__button{
    width: 350px;
    height: 60px;
    text-decoration: none;
    border: solid 2px #333333;
    border-radius: 50px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}
.v-after-sales__section-benefits{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}
.v-after-sales__section-benefits__title{
    font-size: 40px;
    margin-bottom: 10px;
}
.v-after-sales__section-benefits__logo{
    width: 438px ;
    margin-bottom: 20px;
}
.v-after-sales__section-benefits__subtitles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
.v-after-sales__section-benefits__subtitle{
    font-size: 22px;
    font-weight: 300;
    color: #333333;
    margin-bottom: 10px;
}
.v-after-sales__section-benefits__cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 80px;
}
.v-after-sales__section-benefits__details{
    width: 350px;
    height: 600px;
    background: #F3F2F2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 40px #00000029;
    border-radius: 33px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.v-after-sales__section-benefits__details__text-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}
.v-after-sales__section-benefits__details__title{
    width: 60%;
    font-size: 24px;
    color: #333333;
    text-align: center;
}
.v-after-sales__section-benefits__details__text{
    width: 70%;
    font-size: 16px;
    color: #333333;
    text-align: center;
}
.v-after-sales__section-call-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #EFEDED;
    padding: 60px 0;
    margin-bottom: 30px;
}
.v-after-sales__section-call-center__button{
    width: 350px;
    height: 60px;
    text-decoration: none;
    border: solid 2px #333333;
    border-radius: 50px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}
/* .v-after-sales__section-call-center__logo{
    width: 300px;
}
.v-after-sales__section-call-center__title{
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.v-after-sales__section-call-center__text-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.v-after-sales__section-call-center__text{
    font-size: 25px;
    color: #fff;
    margin-bottom: 5px;
}
.v-after-sales__section-call-center__number{
    font-size: 50px;
    color: #fff;
    font-weight: 900;
} */
.v-after-sales__whatsapp-icon__container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 20px;
    bottom: 10px;
    position: fixed;
}
.v-after-sales__whatsapp-icon{
    width: 80px;
    height: 80px;
}

@media (max-width: 1200px) {
    .v-after-sales__section-services__items{
       flex-wrap: wrap;
    }
    .v-after-sales__section-action__title{
        font-size: 35px;
        text-align: center;
    }
    .v-after-sales__section-action__text{
        width: 90%;
        font-size: 18px;
    }
    .v-after-sales__section-benefits__details__image, .v-after-sales__section-benefits__details__image__desktop{
        width: 40%;
    }
}
@media (max-width: 900px) {
    .v-after-sales__section-banner{
        background-size: cover;
        background-position: center;
    }
    .v-after-sales__section-services__title{
        font-size: 40px;
        text-align: center;
    }
    .v-after-sales__section-services__subtitle{
        font-size: 30px;
    }
    .v-after-sales__section-services__items{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .v-after-sales__section-services__item{
        width: 300px;
        height: 350px;
        flex-direction: column;
        border-right: none;
    }
    .v-after-sales__section-benefits__title{
        font-size: 30px;
    }
    .v-after-sales__section-benefits__logo{
        width: 238px ;
    }
    .v-after-sales__section-call-center__logo{
        width: 200px;
    }
    .v-after-sales__section-call-center__title{
        font-size: 35px;
    }
    .v-after-sales__section-call-center__text{
        font-size: 18px;
        text-align: center;
    }
    .v-after-sales__section-call-center__number{
        font-size: 35px;
    }
}
