.v-locations__banner__image{
    width: 100%;
}
.v-locations__title-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 72px;
    margin-bottom: 50px;
}
.v-locations__title{
    font-family: jetourFontSemiBold;
  font-size: 40px;
  color: #333333;
  font-weight: 900;
}
.v-locations__subtitle{
    font-size: 30px;
    color: #61B6CD;
    font-weight: 400;
}
.v-locations__map-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.v-locations__map{
    width: 70%;
    height: 600px;
    border:0;
}

@media (max-width: 1200px) {
    .v-locations__title{
        font-size: 35px;
        text-align: center;
      }
}
@media (max-width: 900px) {
    .v-locations__title{
        font-size: 25px;
        text-align: center;
        padding: 0 20px;
      }
    .v-locations__subtitle{
        font-size: 22px;
    }
    .v-locations__map{
        width: 90%;
    }
}