.c-footer{
    height: 150px;
    background-color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-footer__section{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
}
.c-footer__logo{
    height: 20px;
}
.c-footer__rrss-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}
.c-footer__rrss-image{
    width: 32px;
    height: 32px;
}
.c-footer__separator{
    width: 2px;
    height: 70%;
    background-color: white;
}
.c-footer__logo-moviti{
    height: 33px;
}

@media (max-width: 600px) {
    .c-footer{
        height: 200px;
        flex-direction: column;
        gap: 20px;
    }
    .c-footer__section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .c-footer__logo{
        height: 20px;
    }
    .c-footer__rrss-image{
        width: 28px;
        height: 28px;
    }
    .c-footer__separator{
        width: 70%;
        height: 2px;
        background-color: white;
    }
    .c-footer__logo-moviti{
        height: 22px;
    }
}