.v-home{
    width: 100%;
}
.v-home__header{
    width: 100%;
    height: 166px;
    background: transparent linear-gradient(180deg, #000000 0%, #26262600 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.v-home__banner-container{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/SLIDER-PRINCIPAL.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-home__banner__title{
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
}
.c-home__banner__logo{
    width: 500px;
}
.c-home__banner__subtitle{
    font-size: 25px;
    color: #fff;
    text-align: right;
    margin-top: 10px;
}
.v-home__section__models{
    width: 100%;
    height: 800px;
    background-color: #E5E5E5;
    padding-top: 60px;
}
.v-home__section__model__header{
    position: absolute;
    left: 25%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 60px;
}
.v-home__section__model__header_image{
    height: 25px;
}
.v-home__section__model__header__title{
   font-size: 22px;
   color: #5AB4CC;
}
.v-home__section__model__header__main-title{
    font-family: jetourFontBold;
   font-size: 45px;
}
.v-home__section__model__header__button{
    width: 225px;
    height: 50px;
    font-size: 16px;
    text-decoration: none;
    color: #333333;
   border: solid 2px #333333;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.v-home__section__model-selected{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.v-home__section__model-selected-image{
    height: 614px;
}
.v-home__section__model-selected-image-t2{
    height: 514px;
    margin-top: 100px;
}
.v-home__section__models__options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.v-home__section__models__option-group{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.v-home__section__models__option-group p{
    font-size: 16px;
    font-weight: bold;

}
.v-home__section__models__option-image{
    width: 170px;
}
.v-home__section__innovation{
    width: 100%;
    height: 500px;
    background: transparent linear-gradient(300deg, #1B1E21 0%, #1B1E21 5%, #0F191D 24%, #323750 53%, #121014 64%, #111619 77%, #070708 100%) 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 30px 0;
}
.v-home__section__innovation__group{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}
.v-home__section__innovation__title{
    font-family: jetourFontBold;
    font-size: 50px;
    color: #fff;
}
.v-home__section__innovation__text{
    width: 60%;
    font-size: 16px;
    color: #fff;
}
.v-home__section__innovation__button{
    width: 300px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border: solid 2px #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.v-home__section__innovation__video{
    width: 785px;
    height: 485px;
}
.v-home__section__features{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to top, #FFFFFF 0%, #FFFFFF 50%, #1c1c1ca4 50%, #1c1c1ca4 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.v-home__section__features__items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.v-home__section__features__item-a{
    width: 300px;
    height: 362px;
    background-image: url(../../assets/estabilidad-seguridad.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.v-home__section__features__item-b{
    width: 300px;
    height: 362px;
    background-image: url(../../assets/fuerza-belleza2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.v-home__section__features__item-c{
    width: 300px;
    height: 362px;
    background-image: url(../../assets/jetour-destacadas-3.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.v-home__section__features__item-d{
    width: 300px;
    height: 362px;
    background-image: url(../../assets/innovacion-desarrollo.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.v-home__section__features__item__text-group{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: transparent linear-gradient(0deg, #030303 0%, #68686A00 100%) 0% 0% no-repeat padding-box;
    padding: 30px 0;
}
.v-home__section__features__item__text-group p{
    color: #fff;
}
.v-home__section__features__item__text-group h2{
    font-family: jetourFontSemiBold;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.v-home__section__features__button{
    width: 400px;
    height: 30px;
    background-color: #1c1c1ca4;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}
.v-home__section__news{
    width: 100%;
    height: 450px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}
.v-home__section__news__group__left{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.v-home__section__news__group__right{
    width: 60%;
    display: flex;
    gap: 20px;
}
.v-home__section__news__title{
    /* width: 150px; */
   font-size: 80px;
   font-weight: 900;
   color: #343434;
   letter-spacing: 0px;
   opacity: 1;
   line-height: 70px;
}
.v-home__section__news__button{
    width: 400px;
    height: 30px;
    border: solid 2px #5C5C5C;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 40px;
}
.v-home__section__news__slider-buttons-group{
    display: flex;
    align-items: center;
    gap: 16px;
}
.v-home__section__news__slider-button{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.v-home__section__news__item{
    width: 350px;
    height: 332px;
    text-decoration: none;
   border: solid 2px #5C5C5C;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 8px;
   padding-left: 60px;

}
.v-home__section__news__item__title{
    width: 200px;
    font-size: 22px;
    font-weight: bold;
    color: #343434;
}
.v-home__section__news__item__text{
    font-size: 14px;
    font-weight: bold;
    color: #AAAAAA;
}
.v-home__section__news__item__image{
    width: 250px;
}
.v-home__section-whatsapp{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 20px;
    bottom: 10px;
    position: fixed;
}
.v-home__whatsapp-icon__container{
    width: 80px;
    height: 80px;
}
.v-home__whatsapp-icon{
    width: 80px;
    height: 80px;
}

@media (max-width: 1600px) {
    .v-home__section__models{
        width: 100%;
        /* height: 700px; */
        background-color: #E5E5E5;
        padding-top: 60px;
    }
    .v-home__section__model__header{
        position: absolute;
        left: 10%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 60px;
    }
    .v-home__section__model-selected-image{
        height: 514px;
    }
    .v-home__section__models__option-image{
        width: 170px;
    }
}
@media (max-width: 1550px) {
    .v-home__section__innovation__title{
        font-size: 40px;
        color: #fff;
    }
    .v-home__section__news{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 30px 0;
    }
    .v-home__section__news__group__left{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0px;
    }
    .v-home__section__news__group__right{
        width: auto;
        display: flex;
        gap: 10px;
        padding: 0 20px;
    }
    .v-home__section__news__title{
        /* width: 150px; */
       font-size: 50px;
       line-height: 50px;
    }
    .v-home__section__news__button{
        width: 320px;
        height: 20px;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
    }
    .v-home__section__news__slider-buttons-group{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .v-home__section__news__slider-button{
        width: 40px;
        height: 40px;
    }
    .v-home__section__news__item{
        width: 260px;
        height: 332px;
       border: solid 2px #5C5C5C;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       gap: 8px;
       padding-left: 60px;
    
    }
    .v-home__section__news__item__title{
        width: 200px;
        font-size: 22px;
        font-weight: bold;
        color: #343434;
    }
    .v-home__section__news__item__text{
        font-size: 14px;
        font-weight: bold;
        color: #AAAAAA;
    }
    .v-home__section__news__item__image{
        width: 250px;
    }
    
}

@media (max-width: 1400px) {
    .v-home__section__models{
        width: 100%;
        /* height: 700px; */
        background-color: #E5E5E5;
        padding-top: 60px;
    }
    .v-home__section__model__header{
        position: absolute;
        left: 10%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 60px;
    }
    .v-home__section__model-selected-image{
        height: 514px;
    }
    .v-home__section__models__option-image{
        width: 170px;
    }
    .v-home__section__innovation{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 30px 0;
    }
    .v-home__section__innovation__group{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
    }
    .v-home__section__innovation__title{
        font-size: 30px;
        color: #fff;
    }
    .v-home__section__innovation__text{
        width: 60%;
        font-size: 16px;
        color: #fff;
    }
    .v-home__section__innovation__button{
        width: 300px;
        height: 50px;
        font-size: 16px;
        color: #fff;
        border: solid 2px #fff;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .v-home__section__innovation__video{
        width: 585px;
        height: auto;
    }
}
@media (max-width: 1250px) {
    .v-home__section__models{
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    .v-home__section__model__header{
        position: static;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 10px;
    }
    .v-home__section__model__header_image{
        width: 430px;
        height: auto;
    }
    .v-home__section__model-selected-image{
        height: 414px;
    }
    .v-home__section__model-selected-image-t2{
        margin-top: 10px;
    }
    .v-home__section__innovation__title{
        font-size: 25px;
        color: #fff;
    }
    .v-home__section__innovation__text{
        width: 60%;
        font-size: 14px;
        color: #fff;
    }
    .v-home__section__innovation__button{
        width: 250px;
        height: 40px;
        font-size: 14px;
        color: #fff;
        border: solid 2px #fff;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .v-home__section__innovation__video{
        width: 520px;
        height: auto;
    }
    .v-home__section__features{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 30px 0 ;
    }
    .v-home__section__features__items{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        padding: 30px 0;
    }
}

@media (max-width: 900px) {
    .v-home__section__models{
        height: 530px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    .v-home__section__model__header{
        position: static;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 10px;
    }
    .v-home__section__model__header_image{
        width: 330px;
        height: auto;
    }
    .v-home__section__model__header__title{
       font-size: 18px;
    }
    .v-home__section__model__header__button{
        width: 185px;
        height: 40px;
    }
    .v-home__section__model-selected{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .v-home__section__model__header__main-title{
        font-size: 25px;
     }
    .v-home__section__model-selected-image{
        height: 214px;
    }
    .v-home__section__model-selected-image-t2{
        height: 194px;
    }
    .v-home__section__models__options{
        width: 70%;
        flex-wrap: wrap;
    }
    .v-home__section__models__option-group p{
        font-size: 12px;
    }
    .v-home__section__models__option-image{
        width: 90px;
    }
   .v-home__section__innovation{
        height: 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 50px 0;
    }
    .v-home__section__innovation__group{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .v-home__section__innovation__title{
        font-size: 25px;
        color: #fff;
    }
    .v-home__section__innovation__text{
        width: 60%;
        font-size: 14px;
        color: #fff;
        text-align: center;
    }
    .v-home__section__innovation__button{
        width: 250px;
        height: 40px;
        font-size: 14px;
        color: #fff;
        border: solid 2px #fff;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .v-home__section__innovation__video{
        width: 385px;
        height: auto;
    }
    .v-home__section__features{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 30px 0 ;
    }
    .v-home__section__features__items{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        padding: 30px 0;
    }
    .v-home__section__features__item__text-group{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: #0000006c;
        padding: 10px 0;
    }
    .v-home__section__features__item__text-group p{
        font-size: 0.9rem;
    }
    .v-home__section__features__item__text-group h2{
        font-size: 0.7rem;
    }
    .v-home__section__features__button{
        width: 300px;
        height: 30px;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    }
    .v-home__section__news__group__right{
        flex-direction: column;
    }
  }
  @media (max-width: 600px) {
    .c-home__banner__logo{
        width: 300px;
    }
    .c-home__banner__subtitle{
        font-size: 18px;
    }
    .v-home__section__features__item-a{
        width: 160px;
        height: 222px;
    }
    .v-home__section__features__item-b{
        width: 160px;
        height: 222px;
    }
    .v-home__section__features__item-c{
        width: 160px;
        height: 222px;
    }
    .v-home__section__features__item-d{
        width: 160px;
        height: 222px;
    }
  }